<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 프로필별 속성 파일 로딩 -->
    <springProfile name="dev">
        <property resource="logback-dev.properties"/>
    </springProfile>
    <springProfile name="local">
        <property resource="logback-local.properties"/>
    </springProfile>
    <springProfile name="prod">
        <property resource="logback-prod.properties"/>
    </springProfile>
    <springProfile name="test">
        <property resource="logback-test.properties"/>
    </springProfile>

    <!-- 공통 속성 -->
    <property name="LOG_PATH" value="${log.config.path:-logs}"/>
    <property name="LOG_FILE_NAME" value="${log.config.filename:-app}"/>
    <property name="ERR_LOG_FILE_NAME" value="${log.config.error.filename:-error}"/>
    <property name="ROOT_LEVEL" value="${log.config.root.level:-INFO}"/>
    <property name="MYBATIS_LEVEL" value="${log.config.mybatis.level:-DEBUG}"/>
    <property name="SPRINGWEB_LEVEL" value="${log.config.springweb.level:-INFO}"/>
    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>

    <!-- 콘솔 로그 -->
    <appender name="StandardConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 롤링 파일 로그 (일자별, 용량별) -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>31</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 에러 로그 파일 (롤링) -->
    <appender name="ErrorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>31</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- JDBC/MyBatis 로그 설정 (필요시) -->
    <logger name="jdbc" level="OFF" additive="false" />
    <logger name="jdbc.sqlonly" level="OFF" additive="false" />
    <logger name="jdbc.sqltiming" level="${MYBATIS_LEVEL}" additive="false" />
    <logger name="jdbc.audit" level="OFF" additive="false" />
    <logger name="jdbc.resultset" level="OFF" additive="false" />
    <logger name="jdbc.resultsettable" level="${MYBATIS_LEVEL}" additive="false" />
    <logger name="jdbc.connection" level="OFF" additive="false" />

    <!-- 루트 로그 설정 -->
    <root level="${ROOT_LEVEL}" additive="true">
        <appender-ref ref="StandardConsole" />
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="ErrorRollingFile"/>
    </root>
</configuration>
